# SPDX-License-Identifier: FSFAP
# Copyright 2024 by The University of Oxford and The Chebfun Developers.
# See http://www.chebfun.org/ for Chebfun information.
#
# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided the copyright
# notice and this notice are preserved.  This file is offered as-is,
# without any warranty.

name: misc

on:
  push:
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: codespell-project/actions-codespell@v2
        with:
          ignore_words_file: .codespell-ignorewords
          exclude_file: .codespell-ignorelines
          check_filenames: true
          check_hidden: true
          # list of files/dirs to skip
          skip: ""
          # eventually, errors would be better but lots of fixes needed first
          only_warn: 1
