# This file specifies the "GitHub Actions" CI workflows related to running
# the testsuite on various versions of Matlab.
# It is expected that those versions will change over time, but the general
# idea is to at the very least, to ensure Chebfun works on some older version
# of Matlab, as well as the most recent version(s) of Matlab.

name: Matlab tests

on:
  # push: # Disable on-push for now.
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # r2021a-matlab-chebtest:
  #   name: R2021a Matlab chebtest
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Check out repository
  #       uses: actions/checkout@v5
  #     - name: Install MATLAB
  #       uses: matlab-actions/setup-matlab@v2
  #       with:
  #         release: R2021a
  #         products: Optimization_Toolbox
  #     - name: Run commands
  #       uses: matlab-actions/run-command@v2
  #       with:
  #         command: addpath('.'); results = chebtest; assert(all([results{:,3}] > 0))
  # 
  # r2021b-matlab-chebtest:
  #   name: R2021b Matlab chebtest
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Check out repository
  #       uses: actions/checkout@v5
  #     - name: Install MATLAB
  #       uses: matlab-actions/setup-matlab@v2
  #       with:
  #         release: R2021b
  #         products: Optimization_Toolbox
  #     - name: Run commands
  #       uses: matlab-actions/run-command@v2
  #       with:
  #         command: addpath('.'); results = chebtest; assert(all([results{:,3}] > 0))
  # 
  # r2021b-matlab-no-toolbox-chebtest:
  #   name: R2021b Matlab no toolboxes
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Check out repository
  #       uses: actions/checkout@v4
  #     - name: Install MATLAB
  #       uses: matlab-actions/setup-matlab@v2
  #       with:
  #         release: R2021b
  #     - name: Run commands
  #       uses: matlab-actions/run-command@v2
  #       with:
  #         command: addpath('.'); results = chebtest; assert(all([results{:,3}] > 0))

  r2025a-matlab-chebtest:
    name: R2025a Matlab chebtest
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
      - name: Install MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          release: R2025a
          products: Optimization_Toolbox
      - name: Run commands
        uses: matlab-actions/run-command@v2
        with:
          #command: addpath('.'); results = chebtest; assert(all([results{:,3}] > 0))
          command: addpath('.'); results = chebtest('misc'); assert(all([results{:,3}] > 0))

#  # This job tracks the latest Matlab, which might be the same as above but this
#  # one will automatically test against 2025b when it comes out.
#  latest-matlab-chebtest:
#     name: Latest Matlab chebtest
#     runs-on: ubuntu-latest
#     steps:
#       - name: Check out repository
#         uses: actions/checkout@v5
#       - name: Install MATLAB
#         uses: matlab-actions/setup-matlab@v2
#         with:
#           release: latest
#           products: Optimization_Toolbox
#       - name: Run commands
#         uses: matlab-actions/run-command@v2
#         with:
#           command: addpath('.'); results = chebtest; assert(all([results{:,3}] > 0))
